.techfont{
    font-family: 'IM Fell Great Primer SC', serif;
    font-size: 1.5em;
    margin-bottom: 10px;
}

.bigbrand{
    font-size: 1.5em;
}

.centerstage{
    margin-left: auto;
    margin-bottom: auto;
}